<% flash.each do |message_type, message| %>
  <div class="flash-wrapper" id="flash_msg">
    <div class="alert alert-<%= message_type %>">
      <%= message %>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
  </div>
<% end %>

<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>
<% end %>