<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= f.label :task_name %>
    <%= f.text_field :task_name %>
  </div>
  <div class="task_detail">
    <%= f.label :task_detail %>
    <%= f.text_area :task_detail %>
  </div>
  <div class="task_status">
    <%= f.label :status %>
    <%= f.select :status, {'未着手': '未着手', '着手': '着手', '完了': '完了'}, {selected: '未着手'}  %>
  </div>
  <div class="task_priority">
    <%= f.label :priority %>
    <%= f.select :priority, {'高': '高', '中': '中', '低': '低'}, {selected: '中'} %>
  </div>
  <div class="task_end_date">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <%= f.submit I18n.t('views.button.submit') %>
<% end %>
