<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= f.label :task_name, 'タスク名' %>
    <%= f.text_field :task_name %>
  </div>
  <div class="task_status">
    <%= f.label :status, 'ステータス' %>
    <%= f.select :status, {'未着手': 1, '着手': 2, '完了': 3}, {selected: 1}  %>
  </div>
  <div class="task_priority">
    <%= f.label :priority, '優先度' %>
    <%= f.select :priority, {'高': 1, '中': 2, '低': 3}, {selected: 2} %>
  </div>
  <div class="task_end_date">
    <%= f.label :end_date, '期限' %>
    <%= f.date_field :end_date %>
  </div>
  <%= f.submit value:'登録' %>
<% end %>
