<div class="task_area">
  <table>
    <tr>
      <th><%= I18n.t('views.messages.user_name') %></th>
      <th><%= I18n.t('views.messages.task_name') %></th>
      <th><%= I18n.t('views.messages.status') %></th>
      <th><%= I18n.t('views.messages.priority') %></th>
      <th><%= I18n.t('views.messages.end_date') %></th>
      <th><%= I18n.t('views.messages.created_at') %></th>
      <th><%= I18n.t('views.messages.control') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr class="task_record">
        <td class="user_name text-left"><%= task.user.user_name %></td>
        <td class="task_name text-left"><%= task.task_name %></td>
        <td class="status"><%= task.status %></td>
        <td class="piroirity"><%= task.priority %></td>
        <td class="end_date"><%= task.end_date %></td>
        <td class="created_at"><%= task.created_at.strftime('%Y年%-m月%-d日') %></td>
        <td class="show_button">
          <div class="control-wrapper">
            <ul>
              <li>
                 <%= link_to I18n.t('views.button.show'), task_path(task.id), class: "btn btn-light btn-sm" %>
              </li>
              <li>
               <%= link_to I18n.t('views.button.edit'), edit_task_path(task.id), class: "btn btn-light btn-sm" %>
              </li>
              <li>
                <%= link_to I18n.t('views.button.delete'), task_path(task.id), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: '本当に削除しますか？' } %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @tasks %>
</div>
