<h1><%= I18n.t('views.messages.task_list') %></h1>
<p><%= notice %></p>
<hr>
<div>
  <%= link_to I18n.t('views.messages.create_task'), new_task_path %>
</div>
<hr>
<div class="sort_nav">
  <%= link_to I18n.t('views.messages.sort_by_priority'), tasks_path(sort_by: "priority") %>
  <%= link_to I18n.t('views.messages.sort_by_end_date'), tasks_path(sort_by: "end_date") %>
</div>
<hr>
<div class="task_list">
  <table>
    <tr>
      <th><%= I18n.t('views.messages.task_name') %></th>
      <th><%= I18n.t('views.messages.task_detail') %></th>
      <th><%= I18n.t('views.messages.status') %></th>
      <th><%= I18n.t('views.messages.priority') %></th>
      <th><%= I18n.t('views.messages.end_date') %></th>
      <th><%= I18n.t('views.messages.created_at') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_name"><%= task.task_name %></td>
        <td class="task_detail"><%= task.task_detail %></td>
        <td class="status"><%= task.status %></td>
        <td class="piroirity"><%= task.priority %></td>
        <td class="end_date"><%= task.end_date %></td>
        <td class="created_at"><%= task.created_at.strftime('%Y年%-m月%-d日 %H:%M') %></td>
        <td class="show_button">[<%= link_to I18n.t('views.button.show'), task_path(task.id) %>]</td>
        <td class="edit_button">[<%= link_to I18n.t('views.button.edit'), edit_task_path(task.id) %>]</td>
        <td class="delete_button">[<%= link_to I18n.t('views.button.delete'), task_path(task.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>]</td>
      </tr>
    <% end %>
  </table>
</div>
