<h1><%= I18n.t('views.messages.task_list') %></h1>
<p><%= notice %></p>
<div>
  <p><%= link_to I18n.t('views.messages.create_task'), new_task_path %></p>
</div>
<div>
  <table>
    <tr>
      <th><%= I18n.t('views.messages.task_name') %></th>
      <th><%= I18n.t('views.messages.task_detail') %></th>
      <th><%= I18n.t('views.messages.status') %></th>
      <th><%= I18n.t('views.messages.priority') %></th>
      <th><%= I18n.t('views.messages.end_date') %></th>
      <th><%= I18n.t('views.messages.created_at') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_detail %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.end_date %></td>
        <td><%= task.created_at.strftime('%Y年%-m月%-d日 %H:%M') %></td>
        <td>[<%= link_to I18n.t('views.button.show'), task_path(task.id) %>]</td>
        <td>[<%= link_to I18n.t('views.button.edit'), edit_task_path(task.id) %>]</td>
        <td>[<%= link_to I18n.t('views.button.delete'), task_path(task.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>]</td>
      </tr>
    <% end %>
  </table>
</div>
