<div class="title_area">
  <h1><%= I18n.t('views.messages.task_list') %></h1>
</div>
<div class="sort_search_area justify-content-center">
  <div class="sort_bar col-4">
    <h5>
      タスクを並び替える
    </h5>
    <div class="row justify-content-center p-2">
      <div class="col-auto">
        <%= link_to I18n.t('views.messages.sort_by_priority'), tasks_path(sort_by: "priority"), class:"btn btn-light btn-sm" %>
      </div>
      <div class="col-auto">
        <%= link_to I18n.t('views.messages.sort_by_end_date'), tasks_path(sort_by: "end_date"), class:"btn btn-light btn-sm"  %>
      </div>
    </div>
  </div>
  <div class="extract_bar col-8">
    <h5>
      タスクを絞り込む
    </h5>
    <%= form_with url: search_tasks_path, method: :get, class: "row justify-content-center p-2", local: true do |f| %>
      <div class="col-auto">
        <%= f.text_field :key_word, value: @key_word, placeholder: "タスク名を入力する", class: "form-control form-control-sm" %>
      </div>
      <div class="col-auto">
        <%= f.select :key_status, Task.statuses.keys, { include_blank: "ステータスを選択する" }, value: @key_status, class: "form-control form-control-sm mb-1"  %>
        <%= f.select :key_label_id, Label.all.collect { |l| [l.label_name, l.id] }, { include_blank: "ラベルを選択する" }, value: @key_label_id, class: "form-control form-control-sm"  %>
      </div>
      <div class="col-auto">
        <%= f.submit I18n.t('views.button.search'), class:"form-control form-control-sm" %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'tasks/task_list' %>