<h1>Show</h1>
<p>タスク名: <%= @task.task_name %></p>
<p>詳細: <%= @task.task_detail %></p>
<p>ステータス: <%= @task.status %></p>
<p>優先度: <%= @task.priority %></p>
<p>期限: <%= @task.end_date %></p>
<%= link_to "タスク一覧にもどる", tasks_path %>