<h1><%= I18n.t('views.messages.task_show') %></h1>
<p><strong><%= I18n.t('views.messages.task_name') %></strong> <%= @task.task_name %></p>
<p><strong><%= I18n.t('views.messages.task_detail') %></strong> <%= @task.task_detail %></p>
<p><strong><%= I18n.t('views.messages.status') %></strong> <%= @task.status %></p>
<p><strong><%= I18n.t('views.messages.priority') %></strong> <%= @task.priority %></p>
<p><strong><%= I18n.t('views.messages.end_date') %></strong> <%= @task.end_date %></p>
<%= link_to I18n.t('views.messages.task_list'), tasks_path %>